/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

body {
	padding-bottom:50px;
}

#delete {
	display:none;
}

.user-margin {
	margin-top:20px;
}
.add-product-info {
	float:right;
	margin-top:-30px;
	font-style:italic;
}